<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>THE MAJESTIK Hotels</title>
<link rel="icon" type="image/x-icon" href="social/favicon.ico">
<link
	href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;700&family=Poppins:wght@400;500&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link rel="stylesheet" href="common.css" />
<style>


.availability-form {
	margin-top: -50x;
	z-index: 2;
	position: relative;
}
@media screen and (max-width: 575px){
.availability-form{
maring-top: -50px;
z-index: 2;
position: relative;
}
}
</style>
</head>

<body>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-white px-lg-3 py-lg-2 shadow-sm sticky-top">
		<div class="container-fluid">
			<nav class="navbar navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand me-5 fw-bold fs-3 h-font" href="index.html">
						<img src="socials/logo.jpg" alt="" width="50" height="40"
						class="d-inline-block align-text-top"> The Majestik
					</a>
				</div>
			</nav>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active me-2"
						aria-current="page" href="index.html">Home</a></li>
					<li class="nav-item"><a class="nav-link me-2" href="#">Rooms</a></li>
					<li class="nav-item"><a class="nav-link me-2" href="#">Facilities</a></li>
					<li class="nav-item"><a class="nav-link me-2" href="#">About
							Us</a></li>
					<li class="nav-item"><a class="nav-link " href="#">Kitchen</a></li>
				</ul>
				<div class="d-flex">

					<button type="button"
						class="btn btn-outline-dark shadow-none me-lg-2 me-3"
						data-bs-toggle="modal" data-bs-target="#loginModal">
						Login</button>
				</div>
			</div>
		</div>
	</nav>

<h1>Welcome, <span th:text="${firstName}"></span>!</h1>
<p>Your email address is <span th:text="${email}"></span>.</p>

   <table class="table">
  <thead>
    <tr>

      <th scope="col">Room Number</th>
      <th scope="col">Room Type</th>
      <th scope="col">Name</th>
      <th scope="col">ReservationId</th>
      <th scope="col">Check-out Date</th>
      <th scope="col">Cancel Booking</th>
    </tr>
  </thead>
  <tbody>
    
    
    <tr scope="row" >
      <td th:text="${roomNumber}"></td>
      <td th:text="${roomType}"></td>
      <td th:text="${firstName}"></td>
      <td th:text="${reservationId}"></td>
      <td th:text="${checkOutDate}"></td>
 <td >
       <form th:action="@{/booking/remove/{id}(id=${booking.bookingId})}" method="post">
    <button type="submit">Cancel Booking</button>
  </form>
      </td>
    </tr>
  </tbody>
</table>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</body>
</html>